#udemy__works {
    background: linear-gradient(-45deg,#EC5252 0%,#6E1A52 100%);
    .udemy__works__text {
        color: white;
        padding: 1rem 0;
        p {
            margin: 0;
        }
    }
}